<div class="bg-pattern">
  <div class="bg-img-wrap">
    <img class="pattern-img" loading="eager" src="pattern.svg" alt="Patrón del fondo" />
  </div>
</div>

<style>
  .bg-pattern {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .bg-img-wrap {
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .pattern-img {
    width: 2550px;
    min-width: 2550px;
    margin-top: -24px;
    margin-left: 200px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  @media screen and (max-width: 600px) {
    .pattern-img{
      margin-top: -32%;
      margin-left: -43%;
    }
    
  }
</style>
