---
interface Props {
  icon?: string;
  sizeTitle?: string;
  sizeBody?: string;
}

const { sizeTitle = "4rem", sizeBody = "1.6rem", icon } = Astro.props;
---

<div class="card">
  {
    icon ? (
      <div class="card-icon">
        <img src={icon} loading="lazy" slot="icon" />
      </div>
    ) : (
      false
    )
  }
  <div class="card-title">
    <slot name="title" />
  </div>
  <div class="card-body">
    <slot name="body" />
  </div>
  <slot />
</div>

<style define:vars={{ sizeTitle, sizeBody }}>
  .card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 24px 28px;
    gap: 15px;
  }

  .card-title {
    width: fit-content;
    font-weight: bold;
    font-size: var(--sizeTitle);
  }

  .card-body {
    width: fit-content;
    font-size: var(--sizeBody);
    /* font-family: "Hind Madurai", sans-serif; */
    font-family: 'Open Source Pro', monospace;
    /* font-family: 'Nunito', sans-serif; */
    line-height: 1.3em;
  }

  .card-icon {
    max-width: 48px;
    max-height: 48px;
  }
</style>
