---
interface Props {
  icon?: string;
  sizeTitle?: string;
  sizeBody?: string;
  gap?: string;
}

const {
  sizeTitle = "4rem",
  sizeBody = "1.6rem",
  icon,
  gap = "15px",
} = Astro.props;
---

<div class="card">
  {
    icon ? (
      <div class="card-icon">
        <img src={icon} class="icon" loading="lazy"/>
      </div>
    ) : (
      false
    )
  }
  <div class="card-title">
    <slot name="title" />
  </div>
  <div class="card-body">
    <slot name="body" />
  </div>
  <slot />
</div>

<style define:vars={{ sizeTitle, sizeBody, gap }}>
  .card {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 24px 28px;
    gap: var(--gap);
  }

  .card-title {
    font-weight: bold;
    font-size: var(--sizeTitle);
  }

  .card-body {
    font-size: var(--sizeBody);
    /* font-family: "Hind Madurai", sans-serif; */
    font-family: "Open Sokurce Pro", monospace;
    /* font-family: 'Nunito', sans-serif; */
    line-height: 1.3em;
  }

  .icon {
    max-width: 48px;
    max-height: 48px;
  }

  @media screen and (max-width: 1100px) {
    .card-title {
      font-size: 2.5rem;
    }

    .card-body {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 800px) {
    .card-title {
      font-size: 2rem;
    }

    .card-body {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 500px) {
    .card-title {
      font-size: 1.5rem;
    }

    .card-body {
      font-size: 1rem;
    }
  }
</style>
