---
import Card from "./Card.astro";
---

<div class="hero-wrapper">
  <div class="hero-left">
    <Card>
      <h1 class="hero-title" slot="title">Bienvenido. <br /> Mi nombre es Edwin.</h1>
      <h2 slot="body">
        Egresado de la Universidad de Guanajuato DICIS, soy un Ingeniero en Sistemas Computacionales ubicado en Guanajuato, México.
        Actualmente, me desempeño como Desarollador Web Full Stack Jr.
        creando productos eficaces y accesibles para el usuario. <br>
      </h2>
    </Card>
  </div>
  <div class="hero-right">
    <Card sizeTitle="2rem" sizeBody="1.2rem">
      <h3 slot="title">Mis hobbies</h3>
      <h5 slot="body">
        A día de hoy, las cosas que más disfruto hacer son la lectura, los
        videojuegos, el fitness, la gastronomía, adquirir habilidades cotidianas
        y aprender sobre tecnología.
      </h5>
    </Card>
  </div>
</div>

<style>
  .hero-wrapper {
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(15rem, 100%/2), 1fr));
    gap: 90px;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    grid-column: 1;
  }

  .hero-right {
    padding-top: 65%;
    display: flex;
    flex-direction: column;
    grid-column: 4;
  }

  @media screen and (max-width: 1400px) {
    .hero-wrapper .hero-right {
      padding-top: 0;
      grid-column: 1;
    }

    .hero-wrapper {
      gap: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    .hero-title{
      font-size: 2.5rem;
    }
  }
</style>
