---
import Card from "./Card.astro";
import projects from "../config/projects.json";
---

<section id="Proyectos">
    <div class="title">
      <span>Proyectos</span>
    </div>
    
    <div class="projects-wrap">
      {
        projects.map((project) => (
          <Card sizeBody="1.2rem">
            <img class="img-project" src={project.img} slot="title" />
            <span slot="body">{project.description}</span>
          </Card>
        ))
      }
    </div>
</section>

<style>
  .title {
    padding-top: 100px;
    padding-left: 7.5%;
    font-size: 4rem;
  }

  .img-project{
    width: 100%;
  }

  .projects-wrap{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(max(15rem, 100%/4), 1fr));
    gap: 20px;
  }
</style>
