---
import Section from "./Section.astro";
---

<div class="title">
    <span>Proyectos</span>
</div>
<Section>
    <span slot="section-title">Proyectos</span>
    <div class="projects-body"></div>
</Section>

<style>
    .title{
        padding-top: 100px;
       padding-left: 150px;
        font-size: 3rem;
    }

    .projects-body{
        height: 700px;
    }
    
</style>